* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #;
}

header {
  width:100%;
  display:block;
}

.intro {
  width:100%;
  position:fixed;
  padding-top: 15%;
  text-align:center;
  z-index: 1;
}

.intro h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 72px;
  color: #3e313c;
}

/*.intro .first {
  display:none;
}

.intro .second {
  display:none;
}*/

.name {
  /*display:none;*/
  margin-right: 20px;
  margin-top: 15px;
  position:fixed;
  padding: 2px;
  right:10px;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 18px;
  color: #7B7D7C;
  z-index: 3;
}

.buttons {
  text-decoration: none;
  z-index: 3;
}

.start-stop {
  /*display:none;*/
  margin-right: 20px;
  margin-top: 35px;
  position:fixed;
  padding: 2px;
  right:10px;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 18px;
  color: #B3B8B6;
  cursor: pointer;
}

.container {

}

/* ------  ME ----- */

#me-canvas {
  /*display:none;*/
  position: relative;
  float: left;
  z-index: 1;
}

.dot-element-me {
  border-radius: 200px;
  background-color: #7B7D7C;
  z-index: 2;
}

.dot-element-me.big {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.dot-element-me.big .title {
  width: 120px;
  height: 120px;
  /*display:none;*/
  position: fixed;
  border-radius: 200px;
  padding:20px;
  text-align: center;
}

.dot-element-me.big h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 28px;
  color: #fff;
}

.dot-element-me.small {
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.hover-state {
    opacity: 0;
    border-radius: 200px;
    width: 120px;
    height: 120px;
    margin:0px;
    padding-top:45px;
    text-align: center;
}

.dot-element-me.small h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 20px;
  color: #fff;
}

.dot-element-me.small:hover > .hover-state {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.me-container {
  width:50%;
  height:100%;
  left:100%;
  display:initial;
  position:fixed;
  float:right;
  background-color: #fff;
  text-align: center;
  z-index: 5;
  transition: 0.8s ease-out;
}

.me-container.open {
  left: 50%;
  transition: 0.8s ease-in;
}

.me-container.open::before {
    content:'';
    top: 5%;
    bottom: 0%;
    left: 0px;
    width: 1px;
    position: absolute;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227,224,216,0)), color-stop(20%, #ECF0F1), color-stop(80%, #ECF0F1), color-stop(100%, rgba(227,224,216,0)));
    background: -webkit-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: -moz-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: -o-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
}

.me-content {

}

.me-content-title {
  width:100%;
  height:100%;
  margin-top: 25%;
}

.me-content-title h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 30px;
  color: #7B7D7C;
}

#contact p {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: normal;
  font-size: 18px;
  color: #7B7D7C;
}

#close-me {
  right: 10px;
  position: absolute;
  bottom: 0px;
  float: right;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: normal;
  font-size: 18px;
  color: #7B7D7C;
  text-align: left;
  cursor: pointer;
}

/* ------  WORK ----- */

#work-canvas {
/*  display:none;*/
  position: relative;
  float: right;
  z-index: 1;
}

.dot-element-work-title, .dot-element-work-row-one, .dot-element-work-row-two, .dot-element-work-row-three  {
  width: 120px;
  height: 120px;
  border-radius: 200px;
  background-color: #B3B8B6;
  z-index: 2;
}

.dot-element-work-title .title {
  width: 120px;
  height: 120px;
  /*display:none;*/
  position: fixed;
  border-radius: 200px;
  padding:20px;
  text-align: center;
}

.dot-element-work-title h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 28px;
  color: #fff;
}

.dot-element-work-row-one, .dot-element-work-row-two, .dot-element-work-row-three {
  cursor: pointer;
}

.dot-element-work-row-one h1, .dot-element-work-row-two h1, .dot-element-work-row-three h1 {
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: italic;
  font-size: 20px;
  color: #fff;
}

.dot-element-work-row-one:hover > .hover-state {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.dot-element-work-row-two:hover > .hover-state {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.dot-element-work-row-three:hover > .hover-state {
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

/* end of dots*/

.work-container {
  width:50%;
  height:100%;
  right:100%;
  display:block;
  position:fixed;
  float:left;
  background-color: #fff;
  text-align: center;
  z-index: 5;
  transition: 0.8s ease-out;
}

.work-container.open {
  right:50%;
  transition: 0.8s ease-in;
}

.work-container.open::after {
    content:'';
    top: 5%;
    bottom: 0%;
    right: 0px;
    width: 1px;
    position: absolute;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227,224,216,0)), color-stop(20%, #ECF0F1), color-stop(80%, #ECF0F1), color-stop(100%, rgba(227,224,216,0)));
    background: -webkit-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: -moz-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: -o-linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
    background: linear-gradient(top, rgba(227,224,216,0) 0%,#ECF0F1 20%,#ECF0F1 80%,rgba(227,224,216,0) 100%);
}

#work-header {
  display: inline;
  width: 100%;
  height: 100px;
}

.logo {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  padding-bottom: 5px;
  float: left;
}

#work-legend {
  margin-top: 15px;
  margin-left: -10px;
}

.var-container {
  display: inline-block;
  height: 80px;
  margin: 0px 10px 0px 10px;
  text-align: center;
}

.var-dot-title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: normal;
  font-size: 14px;
  color: #7B7D7C;
}

.var-doughnut-container {
}

.work-content {
  width:100%;
  margin-top: 0.5em;
}

.role {
  width: 100%;
  margin-top: 0em;
  padding: 1.0em;
  text-align: center;
}

.role h1 {
  margin: 0px;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: normal;
  font-size: 24px;
  color: #7B7D7C;
}

.xyz-wrap {
  margin-top: 20px;
}

.xyz {
  width: 49%;
  padding: 1em;
  padding-top: 0.5em;
  text-align: justify;
}

.xyz.left {
  float: left;
}

.xyz.right {
  float: right;
}


.xyz p {
  margin: 0;
  font-family: "adelle",sans-serif;
  font-weight:300;
  font-style: normal;
  font-size: 15px;
  color: #7B7D7C;
}

.work-image {
  position: absolute;
  bottom: 0px;
}

.work-image img{
  width: 100%;
}

#close-work {
  margin-left: 10px;
  position: absolute;
  bottom: 0px;
  float: left;
  font-family: "futura-pt",sans-serif;
  font-weight:700;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  text-align: left;
  cursor: pointer;
}

/*****/

.pjs-meta {
  display: none;
}



/***********************/
/**** MEDIA QUERIES ****/
/***********************/

@media(max-width:1330px){
  .logo {
    float: none;
  }
}

@media(max-width:720px){
  /*Me*/
  .me-container {
    width:100%;
    height:100%;
    left:100%;
    display:initial;
    position:fixed;
    float:right;
    background-color: #fff;
    text-align: center;
    z-index: 5;
    transition: 0.8s ease-out;
  }

  .me-container.open {
    left: 0%;
    transition: 0.8s ease-in;
  }

  /*Work*/
  .work-container {
    width:100%;
    height:100%;
    right:100%;
    display:block;
    position:fixed;
    float:left;
    background-color: #fff;
    text-align: center;
    z-index: 5;
    transition: 0.8s ease-out;
  }

  .work-container.open {
    right:0%;
    transition: 0.8s ease-in;
  }
}



















